{% extends "base.html.twig" %}

{% block title  %} Bienvenue {{ app.user.name }} {% endblock %}

{% block body %}

<header class="headerIndex">
    
    <div class="logo row ">
        <div class="contentBooks col-0" id="logo">
            <a href="#" class="logoLink homeLink" id="logoLink" ></a>
            <i class="fas fa-book-open logoBookOpen"></i>
            <i class="fas fa-book logoBook1"></i>
            <i class="fas fa-book logoBook2"></i>
            <i class="fas fa-book logoBook3"></i>
        </div>
        <p class="text-center">Menu</p>
        <a href="#" class="close">&#10060;</a>

    
    </div>
    
    <nav class="navSite">
        <ul class="navList">
            <li><a href="{{ path('home') }}" >Accueil</a></li>
            <li><a href="#">Utilisateurs</a></li>
            <li><a href="{{ path('logout') }}" >Se déconnecter</a></li>
        </ul>
    </nav>
    <div class="decorate"></div>
    <div class="darkDiv" title="retour"></div>
    <h3 class="col-8 col-sm-12">Bienvenue {{ app.user.name }} !</h3>
</header>
<main class="index">

<a href="#" class="on_top" title="Revenir en haut">
    <i class="fas fa-arrow-up"></i>
</a>

<div class="jumbotron">
    <h1 class="display-5 text-center">Tous les livres :</h1>

    <div class="buttonJumbotron">
        <button class="btn btn-secondary btnCategories">Choisir une catégorie (indisponible)</button>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Ajouter un livre</a>
        </p>
    </div>
</div>
{% for book in books %}
    
    {% for category in categories %}

    <div class="card text-left">
        <a href="">
        {% for picture in pictures %}  
    
        {% if picture.src is not null %}
            <img class="card-img-top" src="{{ picture.src }}" alt="{{ picture.alt }}">
        {% endif %}

        {% if picture.src is null %}
            <img class="card-img-top" src="dist/img/default.jpg" alt="{{ picture.alt }}">
        {% endif %}

        {% endfor %}
      <div class="card-body">
        <h4 class="card-title">{{ book.title }}</h4>

      </div>
      </a>
    </div>
</main>
    {% endfor %}
{% endfor %}


{% endblock %}